@font-face {
    font-family: Monteserra;
    src: url("../fonts/MontserratAlternates-Black.otf");
}

* {
    font-family: "Open Sans", Tahoma, Arial,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.main_nav {
    z-index: 9;
    position: fixed;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    background: #03aaaa;
    text-align: center;
    border-bottom: 0.1px solid #b5b5b5;
    box-shadow: 2px 0.1px 5px #9cadac;
}

.faNav{
    display: none !important;
}

.navImg{
    max-width: 100px;
    /*position: relative;*/
    /*top: 8px;*/
    /*margin: 15% 0 12% 0;*/
}

.navDiv{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 5% 0 10% 0;
}

.navDivImg{
    border-radius: 50%;
    background-color: #fed247;
    padding: 20px;
    width: 60%;
    height: auto;
    box-shadow: 3px 2px 5px 0.1px #028e8e;
}

.main_nav a {
    display: inline-block;
    color: #ffffff;
    padding: 10px 10px 15px 10px;
    text-decoration: none;
    margin: 10px;
}

.exit{
    right: 20px;
    float: right;
    position: relative;
}

.fa-sign-out{
    display: block !important;
    float: left;
}

.main_nav a:hover {
    background: #05c6ab;
}

.main_content {
    padding: 5%;
    position: relative;
    top: 50px;
}

.home_content {
    padding: 5%;
    position: relative;
    top: 80px;
}

.content{
    padding: 0 2% 2% 2%;
    margin: -20px 15% 0 15%;
}

.btnLogin{
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: #03aaaa;
    color: #ffffff;
    border-radius: 20px 20px 20px;
    margin-top: 10px;
    width: 50%;
}

.labelLogin{
    color: #03aaaa;
    font-size: 12px;
    width: 100%;
    float: left;
}

.error {
    text-align: center;
}

.error h2 {
    font-weight: bold;
    color: #888888;
    font-size: 3em;
}

.error p {
    font-weight: bold;
    color: #aca9a9;
    margin: 20px 0;
    font-size: 1em;
}

.errorLogin{
    text-align: center;
    color: #888888;
    font-size: 25px;
}

.main_footer {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    position: relative;
    left: 8%;
    padding: 20px;
    color: #cccccc;
    top: -30px;
}


.loginForm{
    padding: 0 10% 0 10%;
    top: -2%;
    position: relative;
}

.loginImg{
    position: relative;
    width: 25%;
    margin-bottom: 2%;
}

.loginDiv{
    width: 100%;
    position: fixed;
    height: 100%;
}

.loginLeftSide{
    float: left;
    position: relative;
    height: 100%;
    width: 40%;
    background-color: #03aaaa;
    padding-top: 12%;
    text-align: center;
    color: #f5f5f5;
}

.loginFa{
    float: left;
    top: 33.5px;
    position: relative;
    left: 22px;
    color: #03aaaa;
}

.loginLeftSideButton{
    width: 100%;
    position: relative;
    height: 35px;
    margin-top: 30px;
}

.btnLoginLeft{
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 7px;
    background-color: #03aaaa;
    width: 30%;
    border-radius: 20px 20px 20px;
    border: 1px solid;
    display: inline-block;
    font-weight: bold;
}

.loginRightSide{
    float: right;
    position: relative;
    height: 100%;
    width: 60%;
    padding-top: 12%;
    text-align: center;
}

.createRightSide{
    float: right;
    position: relative;
    height: 100%;
    width: 60%;
    padding-top: 8%;
    text-align: center;
}

.loginH3{
    color: white;
}

.opt0{
    display: none;
}

.inputNumber{
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.imgHome{
    width: 35%;
    position: relative;
    margin-bottom: 10px;
}

.homeDiv{
    box-shadow: 0 0 5px 0.1px #888888;
    background-color: #f8f8f8;
    margin: 0 30% 0 30%;
    height: 450px;
    border-radius: 20px 20px 20px;
    padding-top: 80px;
    text-align: center;
}

.pHome{
    font-weight: bold;
    margin: 30px;
    text-align: center;
    color: #888888;
}

.spanHome{
    font-weight: bold;
    text-align: center;
    color: #888888;
    opacity: 0.5;
    font-size: 12px;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

button{
    cursor: pointer;
}

.container{
    position: relative !important;
    top: 30px !important;
}

.myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 10px 20px 10px 30px;
    margin-bottom: 12px;
    color: #888888;
    width: 100%;
    border: none;
    border-bottom: 1px solid #888888;
}

.loginInput{
    font-size: 16px;
    padding: 15px 20px 15px 45px;
    margin-bottom: 12px;
    color: #888888;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 1px gray;
    background-color: #fafafa;
}

.myButton{
    background-color: #e6e6e6;
    color: black;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px 5px 5px;
    border: none;
    font-size: 16px;
}

.myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.myTable th, .myTable td {
    text-align: left;
    padding: 12px;
}

td{
    max-width: 1ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h3{
    font-size: 30px;
    color: #03aaaa;
    margin-bottom: 3%;
    text-align: center;
}

h4{
    text-align: left;
    color: #03aaaa;
    position: relative;
    top: 100px;
}

.labelCard{
    color: #03aaaa;
    font-size: 15px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.labelCardLeft{
    color: #03aaaa;
    font-size: 15px;
    margin-bottom: 20px;
    width: 48%;
    float: left;
}

.labelCardRight{
    color: #03aaaa;
    font-size: 15px;
    margin-bottom: 20px;
    width: 48%;
    float: right;
}

.btnDiv{
    width: 100%;
    text-align: center;
    float: left;
}

.btnCard{
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 12px;
    color: #ffffff;
    border-radius: 4px;
    width: 45%;
    background: #03aaaa;
    margin-top: 2%;
}

.metadataList{
    top: 74%;
    padding: 20px 20px 20px;
    position: fixed;
    width: 60%;
    border: 1px solid #888;
}

.myTextarea{
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 10px 20px 10px 30px;
    margin-bottom: 12px;
    color: #000;
    border: 1px solid #888;
    max-width: 100%;
}

.modelTextarea{
    float: left;
    width: 70%;
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

.modelDiv{
    float: right;
    width: 28%;
    min-height: 350px;
    overflow: auto;
    max-height: 350px;
}

.pTitle{
    margin: 5px 0 5px 0;
}

.myFile{
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 10px 20px 10px 30px;
    margin-bottom: 12px;
    color: #888888;
    width: 100%;
    border: 1px solid #888;
}

.backImg{
    /*background-image: linear-gradient(to bottom, rgba(3,170,170,0.8) 0%,rgba(3,170,170,0.8) 100%), url("../img/praia.jpeg");*/
    /*background-size: cover;*/
}

.navDate{
    color: white;
    font-size: 12px;
    position: relative;
    bottom: -40px;
    text-align: center;
}

.btnSecondRight{
    position: relative;
    margin-bottom: 4%;
    right: -10px;
}

.btnSecondLeft{
    position: relative;
    margin-bottom: 4%;
    left: -10px;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.checkDiv{
    color: #888888;
    padding: 10px;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #03aaaa;
    border-color: #03aaaa;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.emailLink{
    color: #03aaaa;
}

.dashboardDiv{
    margin-left: 1.5%;
    width: 100%;
}

.dashboardNav{
    padding: 0 0 0 16%;
    background-color: #fbfbfb;
    height: 70px;
    box-shadow: 3px 2px 8px #9cadac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardNavA{
    color: #656565;
    font-weight: bold;
}

.dashboardChart1{
    float: left;
    width: 64%;
    background-color: white;
    box-shadow: 0 0 4px 0.1px #9cadac
}

.dashboardChart2{
    float: right;
    width: 34%;
    background-color: white;
    box-shadow: 0 0 4px 0.1px #9cadac
}

.dashboardDivChart{
    padding: 2% 2% 0 18%;
}

#chart_div{
    width: 100%;
    height: 100%;
}

#piechart{
    width: 100%;
    height: 100%;
}

.dashboardUsersTable{
    margin-top: 20%;
}

.customers {
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fbfbfb;
    color: #656565;
    box-shadow: 0px 2px 1px #9cadac;
}

.th1{
    width: 30%;
}

.th2{
    width: 15%;
}

.th3{
    width: 30%;
}

.th4{
    width: 10%;
}

.dashboardTd{
    text-align: center !important;
}

.dashboardFaConfirm{
    font-size: 20px !important;
    color: #03aaaa;
}

.dashboardFaTresh{
    font-size: 20px !important;
    color: #dc3912;
}

.dashboardFaShare{
    font-size: 20px !important;
    color: #0e7acc;
}

.fa{
    cursor: pointer;
}

.spinnerDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 999;
    opacity: 0.3;
    align-items: center;
    justify-content: center;
    display: flex;
}

.spinner{
    border: 8px solid rgb(173, 166, 166);
    border-left-color: #03aaaa;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg);}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.show {display: block;}

.dropdown-content a:hover {background-color: #ddd;}

.cardTableC1{
    width: 5%;
}

.cardTableC2{
    width: 20%;
}

.cardTableC3{
    width: 25%;
}

.cardTableC4{
    width: 35%;
}

.cardTableC5{
    width: 15%;
    text-align: center !important   ;
}